* {
   margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body {
    background-color: #ed2939;
}
#title {
    color: #FFA500;
    text-align: center;
    font-size: 70px;
    margin: 40px 0px 60px 0px;
    font-family: 'Play', sans-serif;
    -webkit-text-stroke: 1px rgb(214, 214, 214);   
}
#gridContainer {
    margin: auto;
    display: grid;
    height: 550px;
    width: 550px;
    background-color: white;
    border: 5px solid #FFFF00;
    border-radius: 5px;
}
.gridBox {
    display: inherit;
    background: white;
    border: 1px solid black;
}