* {
   margin: 0;
   padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body {
    background-color: #ed2939;
}
#title {
    color: #F6BE00;
    text-align: center;
    font-size: 70px;
    margin: 40px 0px 40px 0px;
    font-family: 'Play', sans-serif;
    -webkit-text-stroke: 1px rgb(214, 214, 214);   
}
#main {
    display: flex;
    flex-wrap: wrap;
}
#gridContainer {
    margin: auto;
    margin-left: 200px;
    display: grid;
    height: 550px;
    width: 550px;
    background-color: white;
    border: 5px solid #FFFF00;
    border-radius: 5px;
}
.gridBox {
    display: inherit;
    background: white;
    border: 1px solid black;
}
.active {
    background-color: black;
}
#buttonContainer {
    display: inherit;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 100px;
    background-color: khaki;
}
button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: whitesmoke;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: white;
    margin-top: 100px;
}
#clearButton {
 
}